<form class="form-horizontal" name="reviewForm" ng-submit='itemForm.$valid && submitReview()'>
    <fieldset>

        <!-- Form Name -->
        <legend>Write a review</legend>

        <a href="#">{{ productname }}</a>
        <div class="review-image-container"><img class="review-image" src="{{ producturl }}"></div>

        <!-- Text input-->
        <div class="control-group" >
            <label class="control-label" for="reviewtext"></label>
            <div class="controls">
                <div ng-controller="StarCtrl">

                    <rating value="rate1" ng-model="review.rating"></rating>

                </div>
                <textarea class="form-control" id="reviewtext" ng-model="review.text">Write your review here</textarea>
            </div>
            {{review.rating}}
        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="submitreview"></label>
            <div class="controls">
                <button id="submitreview" name="submitreview" class="btn btn-info" type="submit" ng-click="submitfunc()">Submit review</button>
            </div>

        </div>

    </fieldset>
</form>